@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Roboto+Mono:wght@700&display=swap");

body {
  background: #f6f6f3;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  color: #333;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0p 0p 44px rgba(148, 146, 120, 0.23);
  border-radius: 20px;
  width: 765px;
  padding-top: 55px;
}

.tip-amount {
  padding-bottom: 35px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 35px;
}

.total-per-person::before {
  content: "";
  display: inline-block;
  background: url("./images/bill.svg") no-repeat center center;
  background-color: #b60918;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.total-per-person {
  padding-bottom: 35px;
}

.tip-amount,
.total-per-person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 35px;
}

.tip-amount label,
.total-per-person label {
  font-size: 0.875rem;
  text-align: right;
}

.tip-amount .dollars,
.total-per-person .dollars {
  font-size: 5rem;
}

.tip-amount sup,
.total-per-person sup {
  font-size: 3rem;
}

.dollars {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.input-fields {
  background: #f7f7f7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  padding: 0 35px;
}

.input-fields .bill-amount {
  border-right: 2px solid #dedede;
  padding: 65px 45px 45px 20px;
  width: 70%;
}

.input-fields .number-of-people {
  padding: 65px 45px 45px;
  width: 30%;
}

.input-fields .number-of-people .field {
  display: flex;
  align-items: flex-end;
}

.bill-amount .field {
  display: flex;
  align-items: flex-end;
}

input[type="text"] {
  text-align: center;
  font-size: 3.875rem;
  font-family: "Inter", sans-serif;
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;
  width: 100%;
  border-bottom: 3px dotted #b3b3b3;
}

.bill-amount input[type="text"] {
  background: url("./images/dollar.svg") left 15px no-repeat;
  padding-left: 40px;
  width: 100%;
}

.number-of-people input[type="text"] {
  background: url("./images/people.svg") left 20px no-repeat;
  padding-left: 40px;
  text-align: right;
}

.input-fields .label {
  margin-bottom: 45px;
  text-align: center;
  padding-top: 10px;
}

.tip-percentages {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 5px;
  background: #eeeeee;
}

.tip-percentages>div {
  width: 25%;
}

input[type="radio"] {
  display: none;
}

label {
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #60c1b6;
  width: 100%;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

input[type="radio"]:checked+label {
  background: #60c1b6;
  color: white;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 30px 35px;
  background: #f7f7f7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #f7f7f7;
}

button {
  background: #ed7861;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 18px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  color: white;
  border: none;
  padding: 20px 100px;
  margin-left: auto;
  cursor: pointer;
}

button:hover {
  background: #254441;
}

#reset {
  background: #b3b3b3;
  margin-right: 20px;
}

#reset:hover {
  background: #8f8f8f;
}

.tip-percentages {
  display: flex;
  justify-content: space-between;
}

.tip-amount .dollars,
.total-per-person .dollars {
  font-size: clamp(2rem, 4vw, 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  max-width: 100%;
}

#tip-amount,
#total-per-person {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(2rem, 4vw, 5rem);
}
